/*
 * For all media (print, screen)
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');

@import '_variables';
@import '_lib-prism-okaidia';
@import '_lib-override';
@import '_base';
@import '_counter';
@import '_media';
@import '_toc';
@import '_colophon';
@import '_cover';
@import '_chapter';

/* and more... 🖋 */

// hrで改ページ
hr.page-wrap {
  break-before: page;
  visibility: hidden;
  margin: 0px;
  padding: 0px;
  height: 1px;
}

span.author {
  display: block;
  text-align: right;
  // font-size: 1.15em;
  // font-weight: bold;
}

p {
  text-indent: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

blockquote p {
  text-indent: 0em;
}

// トンボをつける
/*
@page {
  marks: crop cross;
  bleed: 3mm; // 塗り足し
}
*/

/*
span.footnote {
  margin-left: 12px;
  text-indent: 0;
  > span {
    position: absolute !important;
  }
}
*/